header {
    padding: 10px 0px 100px 0px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, blue, lightblue, lightblue);
}

#header-logo {
    margin-bottom: 10px;
}